body {
    margin:0px;
    font-family:sans-serif;
}

#header {
    position:fixed;
    background-color:black;
    color:white;
    width:100%;
}

#content {
    padding-top:2em;
}

#footer {
    font-size:.75em;
    text-align:center;
}

.marginal {
    margin-top:0px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:1em;
}

ul.navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li.navitem {
    float:left;
}

a:link.navlink, a:visited.navlink {
    display:block;
    width:140px;
    color:#FFFFFF;
    text-align:center;
    padding:4px;
    text-decoration:none;
    font-family:sans-serif;
    text-transform:lowercase;
}

a:hover.navlink, a:active.navlink {
    background-color:#484848;
}

ul.people_list {
    list-style-type:none;
}

.tiny {
    font-size:60%;
}

.read {
    color:grey;
}

.unread {
    color:auto;
}
