{% load url from future %}
{% load staticfiles %}


<!DOCTYPE HTML>
<html>
  <head>
    <!-- TODO: Change HREF to static content link -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}profile.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tweets.css" />
    <script src="script.js" type="text/javascript">
    </script>
    <title>PeteTwitt</title>

    {{ form.media }}

    <script type=.text/javascript.>
      tinyMCE.init({
      mode:"textareas"
      });
    </script>

    {% block head %}{% endblock %}

  </head>
  <body>
    <div id="header">
      <ul class="navbar">
	    <li style="float:left"><a href="{% url 'latest_tweets' %}" class="navlink">home</a></li>
	    <li style="float:left"><a href="{% url 'directory' %}" class="navlink">directory</a></li>
        {% if logged_in_user.is_authenticated %}
        	<li style="float:left"><a href="#" class="navlink">notifications</a></li>
        {% endif %}
	
	    <!-- <img src="logo.png" style="margin-left:50%; margin-right:50%; margin-bottom:0px; margin-top:0px;" /> -->

	    <li style="float:right"><form><input type="text" value="search" /></form></li>
	
        {% if logged_in_user.is_authenticated %}
            <li style="float:left"><a href="{% url 'profile' logged_in_user.username %}" class="navlink">me</a></li>
			<li style="float:right"><a href="{% url 'logout' %}" class="navlink">logout</a></li>
    	    <li style="float:right"><a href="{% url 'post' %}" class="navlink">post</a></li>
        {% else %}
			<li style="float:right"><a href="{% url 'login' %}" class="navlink">login</a></li>
			<li style="float:right"><a href="/accounts/register/" class="navlink">create account</a></li>
        {% endif %}
      </ul>
      
    </div>
    <div id="content" class="marginal">
      {% block content %}{% endblock %}
    </div>
    <div id="footer" class="marginal">
      Copyright 2014 Austin Sims, Elliott Mantock
    </div>
  </body>
</html>
