
{% extends "petetwitt/base.html" %}

{% block head %}
{% if enable_autorefresh %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
var count;

function update() {
  $.get("{% url 'count' %}",function(data,status){
    if (data > count) {
      location.reload(true)
    }
    count = data
  });
}

$(document).ready(function(){
  $.get("{% url 'count' %}",function(data,status){
    count = data;
  });
  update();
  setInterval(update, 1000);
});
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if logged_in_user.is_authenticated %}
<form action="{% url 'post'  %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
  {{ form.as_p }}  
  </table>
  <input type="submit" value="Tweet" />
</form>
<hr/>
{% endif %}
{% if tweets %}
  {% for tweet in tweets %}
  	{% include "petetwitt/tweet.html" %}
  {% endfor %}
{% else %}
  There are no twitts to display.  Maybe you aren't following anyone? Try looking for some interesting users in the directory.
{% endif %}
{% endblock %}
