<!DOCTYPE HTML>
<html>
  <head>
    <!-- TODO: Change HREF to static content link -->
    <link rel="stylesheet" type="text/css" href="base.css" />
    <link rel="stylesheet" type="text/css" href="profile.css" />
    <link rel="stylesheet" type="text/css" href="tweets.css" />
    <script src="script.js" type="text/javascript">
    </script>
  </head>
  <body>
    <div id="header">
      <ul class="navbar">
	<li style="float:left"><a href="#" class="navlink">Home</a></li>
	<li style="float:left"><a href="#" class="navlink">Notifications</a></li>
	<li style="float:left"><a href="#" class="navlink">Me</a></li>
	
	<!-- <img src="logo.png" style="margin-left:50%; margin-right:50%; margin-bottom:0px; margin-top:0px;" /> -->

	<li style="float:right"><form><input type="text" value="search" /></form></li>
	<li style="float:right"><a href="#" class="navlink">settings</a></li>
	<li style="float:right"><a href="#" class="navlink">logout</a></li>
	<li style="float:right"><a href="#" class="navlink">post</a></li>
      </ul>
      
    </div>
    <div id="content" class="marginal">
      <!-- Home layout -->
      <!--
	  <div class="tweet">
	    <table>
	      <tr>
		<td class="avatar">
		  <img src="android.png" width="48" height="48" class="avatar"/>
		</td>
		<td class="tweet_content">
		  <b>Firstname Lastname</b> <span class="subtle">@LFirstname2002 24m</span><br />
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing dolor diam, in blandit mi pretium eget. Donec placerat sapien amet.<br />
		  <div class="tweet_buttons">
		    <a href="#">Reply</a> &nbsp;&nbsp;
		    <a href="#">Retweet</a> &nbsp;&nbsp;
		    <a href="#">Favorite</a> &nbsp;&nbsp;
		    <a href="#">More</a> &nbsp;&nbsp;
		  </div>
		</td>
	      </tr>
	    </table>
	  </div>
	  -->

      <!-- Profile layout -->
      
      <div id="profile">
	<div id="profile_row">
	  <div id="profile_left">
	    <h2>Followers</h2>
	    <a href="#">AustinsMom</a><br/>
	    <a href="#">JayGephart</a><br/>
	    <a href="#">BarackObmaa</a><br/>

	    <h2>Following</h2>
	    <a href="#">AustinsMom</a><br/>
	    <a href="#">JayGephart</a><br/>
	    <a href="#">BarackObmaa</a><br/>

	  </div>
	  <div id="profile_right">
	    <div id="profile_user">
	      <img src="android.png" class="profile_avatar" />
	      <span class="profile_user_fullname">Firstname Lastname</span><br />
	      <span class="profile_user_username">@FNLastname2002</span> <br/>
	      Joined July 7, 2004 <br/>
	      720 Tweets, 167 Following, 115 Followers<br/>
	      <div class="profile_user_buttons">
		<!-- TODO: If i'm looking at myself, show 'edit profile' and 'change password' -->
		<a href="#" class="black_bg">Edit profile</a> &nbsp;&nbsp;
		<a href="#" class="black_bg">change password</a> &nbsp;&nbsp;
		<!-- TODO: If i'm looking at another, show 'follow' or 'unfollow' -->
		<a href="#" class="black_bg">follow</a>
	      </div>
	    </div>
	    <div id="profile_tweets">
	      <div class="tweet">
		<table>
		  <tr>
		    <td class="avatar">
		      <img src="android.png" width="48" height="48" class="avatar"/>
		    </td>
		    <td class="tweet_content">
		      <b>Firstname Lastname</b> <span class="subtle">@LFirstname2002 24m</span><br />
		      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing dolor diam, in blandit mi pretium eget. Donec placerat sapien amet.<br />
		      <div class="tweet_buttons">
			<a href="#">Reply</a> &nbsp;&nbsp;
			<a href="#">Retweet</a> &nbsp;&nbsp;
			<a href="#">Favorite</a> &nbsp;&nbsp;
			<a href="#">Delete</a> &nbsp;&nbsp;
		      </div>
		    </td>
		  </tr>
		</table>
	      </div>
	      <div class="tweet">
		<table>
		  <tr>
		    <td class="avatar">
		      <img src="android.png" width="48" height="48" class="avatar"/>
		    </td>
		    <td class="tweet_content">
		      <b>Firstname Lastname</b> <span class="subtle">@LFirstname2002 24m</span><br />
		      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing dolor diam, in blandit mi pretium eget. Donec placerat sapien amet.<br />
		      <div class="tweet_buttons">
			<a href="#">Reply</a> &nbsp;&nbsp;
			<a href="#">Retweet</a> &nbsp;&nbsp;
			<a href="#">Favorite</a> &nbsp;&nbsp;
			<a href="#">Delete</a> &nbsp;&nbsp;
		      </div>
		    </td>
		  </tr>
		</table>
	      </div>
	      <div class="tweet">
		<table>
		  <tr>
		    <td class="avatar">
		      <img src="android.png" width="48" height="48" class="avatar"/>
		    </td>
		    <td class="tweet_content">
		      <b>Firstname Lastname</b> <span class="subtle">@LFirstname2002 24m</span><br />
		      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing dolor diam, in blandit mi pretium eget. Donec placerat sapien amet.<br />
		      <div class="tweet_buttons">
			<a href="#">Reply</a> &nbsp;&nbsp;
			<a href="#">Retweet</a> &nbsp;&nbsp;
			<a href="#">Favorite</a> &nbsp;&nbsp;
			<a href="#">Delete</a> &nbsp;&nbsp;
		      </div>
		    </td>
		  </tr>
		</table>
	      </div>

	    </div>
	  </div>
	</div>
      </div>

    </div>
    <div id="footer" class="marginal">
      Copyright 2014 Austin Sims, Elliott Mantock
    </div>
  </body>
</html>
