{% extends "petetwitt/base.html" %}

{% block content %}
<div id="profile">
  <div id="profile_row">
	<div id="profile_left">

	  <h2>Followers</h2>
      {% if user.get_profile.count_followers > 0 %}
        {% for follower in user.get_profile.get_followers %}
        	<a href="{% url 'profile' follower.username %}">{{ follower }}</a><br/>
        {% endfor %}
      {% else %}
      <p>This is sad...  {{ user.first_name }} has no followers. At all.</p>
      {% endif %}


	  	<h2>Following</h2>
      {% if user.get_profile.count_following > 0 %}
	    {% for following in user.get_profile.get_following %}
	    	<a href="{% url 'profile' following.username %}">{{ following }}</a><br/>
	    {% endfor %}
      {% else %}
      <p>{{ user.first_name }} is too awesome to take anyone else seriously.</p>
      {% endif %}

	</div>
	<div id="profile_right">
	  <div id="profile_user">
	    <img src="android.png" class="profile_avatar" />
	    <span class="profile_user_fullname">{{ user.first_name }} {{ user.last_name }}</span><br />
	    <span class="profile_user_username">@{{ user.username }}</span> <br/>
	    Joined {{ user.date_joined }} <br/>
	    {{ user.get_profile.count_tweets }} Tweets, {{ user.get_profile.count_following }} Following, {{ user.get_profile.count_followers }} Followers<br/>
	    <div class="profile_user_buttons">
          {% ifequal logged_in_user user %}
			  <a href="#" class="black_bg">Edit profile</a> &nbsp;&nbsp;
		      <a href="#" class="black_bg">change password</a> &nbsp;&nbsp;
		  {% else %}
			  <a href="#" class="black_bg">follow</a>
          {% endifequal %}
	    </div>
	  </div>
	  <div id="profile_tweets">
        {% for tweet in tweets %}
        	{% include "petetwitt/tweet.html" %}
        {% endfor %}
	  </div>
	</div>
  </div>
</div>
{% endblock %}
