{% load date_diff %}

<div class="tweet">
  <table class="tweet_layout">
	<tr>
	  <td class="avatar">
        {% if tweet.author.get_profile.portrait %}
		<img src="{{ tweet.author.get_profile.portrait.url }}" width="48" height="48" class="avatar"/>
        {% else %}
        <!-- TODO: display 'no avatar' image or something -->
        {% endif %}
	  </td>
	  <td class="tweet_content">
		<b>{{ tweet.author.first_name }} {{ tweet.author.last_name }}</b>
        <span class="subtle"><a href="{% url 'profile' tweet.author.username %}">@{{ tweet.author.username }}</a> {{ tweet.timestamp }}</span><br />
		<p>{{ tweet.body|safe }}</p>
        {% if tweet.picture %}
          <a href="{{ tweet.picture.url }}">
            <img src="{{ tweet.picture.thumbnail.url }}" />
          </a>
        {% endif %}
		<div class="tweet_buttons">
          {% if logged_in_user.is_authenticated %}
		  	<a href="{% url 'reply' tweet.pk %}">Reply</a> &nbsp;&nbsp;
		    <!-- <a href="#">Retweet</a> &nbsp;&nbsp; -->
		    <!-- <a href="#">Favorite</a> &nbsp;&nbsp; -->
            {% ifequal logged_in_user tweet.author %}
		    	<a href="{% url 'tweet_delete' tweet.pk %}">Delete</a> &nbsp;&nbsp;
            {% endifequal %}
          {% endif %}

          {% if tweet.in_reply_to %}
		    <a href="{% url 'conversation' tweet.pk %}">view conversation</a> &nbsp;&nbsp;
          {% endif %}
		</div>
	  </td>
	</tr>
  </table>
</div>
