td.avatar {
    width:10%;
}

td.tweet_content {
    width:auto;
}

img.avatar {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.tweet {
    border:1px solid black;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:.6em;
    margin-top:2em;
    margin-bottom:2em;
}

.tweet_buttons {
    text-align:right;
    text-transform:lowercase;
}

.subtle {
    color:grey;
}
